# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env
.env/
.venv/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/

# Logs, DBs
*.log
*.sqlite3
*.db
