aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
click
colorama
et_xmlfile
frozenlist
fuzzywuzzy
git-filter-repo
idna
joblib
Levenshtein
magic-filter
multidict
nltk
numpy
openpyxl
pandas
pip
propcache
pydantic
pydantic_core
python-dateutil
python-dotenv
python-Levenshtein
pytz
RapidFuzz
regex
scikit-learn
scipy
six
threadpoolctl
tqdm
typing_extensions
typing-inspection
tzdata
yarl